<mat-toolbar color="primary">
    <span><a routerLink="">首页</a></span>
    <ul>
        <li *ngIf="userIsAuthenticated">
            <a mat-button routerLink="/create" routerLinkActive="mat-accent">新建</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/login" routerLinkActive="mat-accent">登录</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/signup" routerLinkActive="mat-accent">注册</a>
        </li>
        <li *ngIf="userIsAuthenticated">
            <button mat-button (click)="onLogout()">注销</button>
        </li>
    </ul>
</mat-toolbar>
